body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"]{
  border-radius: 4px;
} 