body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  margin: 0px;
}

h1,
ul,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}