/* HEADER */

.header-bg {
  background: #000000
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 20px;
 
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  padding: 16px 0px;
  font-size: 20px;
}

.header-menu a:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 5px;
  transition: 0.3s;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Media Query -HEADER */
@media (max-width: 800px) {

  /* Diminui o GAP */
  .header-menu {
    gap: 40px;
  }

  /* Background do menu. Como se fossem botão */
  .header-menu a {
    background-color: #111111;
    padding: 14px 18px;
    border-radius: 4px
  }

  .header a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {

  /* Diminuimos mainda todos os atributos, para caber melhor na tela */
  .header-menu {
    gap: 15px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px
  }
}