@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  margin: 0px;
}

h1,
ul,
p {
  margin: 0px;
}

/* HEADER */

.header-bg {
  background: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  padding: 16px 0px;
  font-size: 20px;
}

.header-menu a:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 5px;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* INTRODUÇÃO */

img {
  max-width: 100%;
  display: block;
}

.introducao-bg {
  background-color: #0e0e0e;
  color: rgb(255, 255, 255);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

h1 span{
  color: yellow;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.introducao h1 {
  font-size: 61px;
  margin-bottom: 30px;
  line-height: 1.125;
}

.introducao p {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.125;
  color: whitesmoke;
}

.introducao a{
  display: inline-block;
  color: rgb(44, 36, 2);
  background: linear-gradient(rgb(243, 220, 8), rgb(204, 137, 12)) ;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 20px rgb(20, 20, 20, 0.1)
}

.introducao a:hover{
  background: linear-gradient(rgb(226, 204, 9), rgb(116, 78, 10)) ;
}

@media (max-width: 800px) {

  /* Diminui o GAP */
  .header-menu {
    gap: 40px;
  }

  /* Background do menu. Como se fossem botão */
  .header-menu a {
    background-color: #111111;
    padding: 14px 18px;
    border-radius: 4px
  }

  .header a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {

  /* Diminuimos mainda todos os atributos, para caber melhor na tela */
  .header-menu {
    gap: 15px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px
  }
}