/* BOTÃO */
.container {
  box-sizing: border-box;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  color: rgb(0, 0, 0);
  background: linear-gradient(rgb(243, 220, 8), rgb(175, 114, 0));
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  /* text-transform: uppercase; */
  padding: 10px 16px;
  border-radius: 3px;
  box-shadow: 0 1px 20px rgb(20, 20, 20, 0.1);
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(rgb(226, 204, 9), rgb(146, 93, 1));
}

.botao .secundario {
  background: rgb(30, 30, 30);
  color: whitesmoke;
}

.botao .secundario:hover {
  background: rgb(5, 5, 5);
}

/* BG DE TODAS AS PÁGINAS INTERNAS */
.titulo-bg {
  background-color: #141414;
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 6px;
}

.botao.seta {
  display: flex;
  align-items: center;
 
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  margin-right: 15px;
  background: url(../../img/icones/seta.svg);
  transition: transform 0.3s;
}

.botao.seta:hover::after{
  transform: translateX(4px);
}

/* MEDIA QUERY */

@media (max-width: 1200px) {
  .botao {
    font-size: 18px;
    padding: 12px 16px;
  }
}

@media (max-width: 800px) {
  .botao {
    font-size: 16px;
  }

  .titulo-bg {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}