.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
}

.texto-ponto span{
  color: rgb(247, 223, 10);
}

.texto-medio {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

.texto-medio-amarelo {
  font: 800 1.7rem/1.5 "Poppins", sans-serif;
  color: yellow;
}

.texto-medio-branco {
  font: 800 1.7rem/1.5 "Poppins", sans-serif;
  color: rgb(233, 233, 233);
}

.texto-p-importante-cinza {
  font: 600 1.2rem/1.5 "Roboto", sans-serif;
  color: rgb(225, 225, 225);
  text-transform: uppercase;
}

.texto-p-importante-cinza .texto-p {
  font: 600 0.9rem/1.5 "Roboto", sans-serif;
  color: rgb(235, 235, 235);
  text-transform: lowercase;
}

.texto-grande2 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

.texto-p-titulo-grid {
  font: 600 1.0rem/1.5 "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.texto-p-cinza {
  font: 600 0.4rem/1.5 "Roboto", sans-serif;
  color: rgb(167, 167, 167);
  text-transform: uppercase;
}

.texto-pequeno-footer{
  font-size: 25px;
  color:rgb(255, 255, 255);
}

.texto-pequeno-footer-desc {
  font: 400 1.0rem/1.5 "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.texto-grande-titulo {
  font-size: 4rem;
  line-height: 1.125;
  color: white;
}

.termos-uso{
  font: 600 1.4rem/1.3 "Poppins", sans-serif;
  color: rgb(146, 146, 146);
}

.titulo-termos{
  font: 600 1.2rem/1.5 "Poppins", sans-serif;
}

.titulo-termos-desc{
  font: 200 0.9rem/1.5 "Poppins", sans-serif;
}


/* COLOR */

.c-white{
  color: white;
}