.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(245, 201, 7);
}

.depoimento img {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimento-conteudo blockquote{
    color: rgb(49, 49, 49);
}

.depoimento-conteudo span{
    color: rgb(49, 49, 49);
    font-size: 21px;
}


.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.depoimento-conteudo p {
    max-width: 32ch;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 32px;
    position: relative;
}

.depoimento p::before {
    content: '"';
    font-size: 5rem;
    color: rgb(48, 48, 48);
    position: absolute;
    left: -50px;
    top: -20px;
}

.depoimento p::after {
    content: '"';
    font-size: 5rem;
    color: rgb(48, 48, 48);
    position: absolute;
    bottom: -68px;
}

/* MEDIA QUERY */

@media (max-width: 800px) {
    .depoimento {
        grid-template-columns: 1fr;
    }

    .depoimento-conteudo {
        padding: 40px 20px;
        justify-self: center;
    }

    .depoimento img {
        max-height: 400px;
    }

    .depoimento::before {
        content: '"';
        display: none;
    }

    .depoimento::after {
        content: '"';
        display: none;
    }
}