/* INTRODUÇÃO */

.introducao-bg {
  background-color: #161616;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px -120px white;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

h1 span,
h2 span,
h3 span {
  color: rgb(247, 223, 10);
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
  padding-top: 20px;
}

.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px
}

.introducao h1 {
  margin-bottom: 30px;
}

.introducao p {
  margin-bottom: 30px;
  color: whitesmoke;
}

.introducao a {
  display: inline-block;
  color: rgb(44, 36, 2);
  background: linear-gradient(rgb(243, 220, 8), rgb(204, 137, 12));
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 4px; 
  box-shadow: 0 1px 20px rgb(20, 20, 20, 0.1)
}

.introducao a:hover {
  background: linear-gradient(rgb(226, 204, 9), rgb(116, 78, 10));
}

/* Media Query -INTRODUCAO */

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 45px;
    margin-bottom: 26px;
  }

  .introducao p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .introducao a {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .introducao-bg {
    box-shadow: inset 0px -60px white;
  }

  .introducao h1 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .introducao p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .introducao-conteudo {
    align-self: end;
    padding-bottom: 0px;
    padding-top: 20px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
    border-radius: 4px
  }

  .introducao a {
    font-size: 16px;
  }

}