.perguntas {
    padding-top: 120px;
    padding-bottom: 120px;
}

.perguntas h2 {
    margin-bottom: 60px;
}

.perguntas dl>div {
    padding: 40px;
    border-radius: 4px;
}

.perguntas dl>div:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

.perguntas button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background-color: none;
    width: 100%;
    text-align: left;
}

.perguntas button::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: rgb(234, 185, 9);
}

.perguntas button::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../../img/icones/seta-abrir.svg);
    transition: 0.3s;
    transform: rotate(-90deg);
}

/* ANIMAÇÃO ROTACIONAR O ICONE */
/* criei um seletor. quando aria-expanded estiver true, ele vai manter a rotação 180deg. [lembrete]Tem que ser colocado depois do button hover anterior. Por questão de ordem de execução  */
.perguntas button:hover::after,
.perguntas button:hover[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.perguntas dd {
    padding-left: 20px;
    padding-top: 16px;
    max-width: 80ch
}

@media (max-width) {
    .perguntas {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .perguntas {
        margin-bottom: 40px;
    }
}